{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",

  "env": {
    "jest": true
  },
  "globals": {
    "window": true,
    "document": true
  },
  "rules": {
    "default-case": [
      "error",
      {
        "commentPattern": "^skip\\sdefault"
      }
    ],
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "no-unused-vars": "warn",
    "react/forbid-prop-types": "warn",
    "react/destructuring-assignment": 0,
    "react/state-in-constructor": 0,
    "react/prop-types": 0,
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ],
    "react/react-in-jsx-scope": [0],
    "import/no-unresolved": 1
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
